{% extends 'layout.html'%}
{% block content %}
  <section class="content-header">
    {% for message in get_flashed_messages()%}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor%}
  </section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="featured-games header-text">
                <div class="heading-section text-center">
                  <h4><em>Login</em> To Your Account</h4>
                </div>
                <br>
                <div class="login-form">
                    <form method="POST" action="/login" enctype="multipart/form-data">
                      <div class="form-group">
                        <div class="heading-section">
                            <h4>Email</h4>
                        </div>
                        <input type="email" class="form-control" name='email' placeholder="Email"><br>
                      </div>
                      <div class="form-group">
                        <div class="heading-section">
                            <h4>Password</h4>
                        </div>
                        <input type="password" class="form-control" name='password' placeholder="Password"><br><br>
                      </div>
                      <h6 class="text-center">Don't Have Account? <a href="/register">Register Now!</a></h6><br>
                      <div class="form-group text-center">
                          <button type="submit" class="btn btn-danger btn-lg">Login</button>
                        </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}